//Screen
$background-color: #dddddd;
$screen-background-color: #fff;

//Form
$form-background-color: #dddddd;

//Operator Buttons

$operator-buttons-active-bg: #3c89f3;
$operator-buttons-passive-bg: #9ccfff;
$operator-buttons-passive: #fff;
$operator-buttons-active: #fff;
